.banner {
    position: relative;
    background-color: #000;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }
  
  .banner-video {
    position: absolute;
   margin-top: 100px;
    margin-left: 45%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-content {
    margin-top: "900px";
   
  }
  
  .banner-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: "500px";
    color:" red";
    flex:"bottom";
  }
  
  .banner-subtitle {
    font-weight: bold;
    text-align: center;
    

  }
  